/*main*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #ffffff;
    height: 100%;
}

/*nav bar*/
body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #FFFFFF;
    color: #FFFFFF;
  }
  
  body, html {
    height: 100%;
  }
  
  * {
    border-radius: 0 !important;
  }
  
  a {
    color:#373737;
  }

  .nav-logo {
    width: 10%;
    height: 10%;
  }

  .navbar-toggler {
    padding: 0 0;
    line-height: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }
  .articletext a:hover {
    color:#D2C295;
    text-decoration:none;
  }
  
  .navbar {
    font-family: 'Lora', serif;
    position:relative;
    background:#373737;
    z-index:10;
    width:100%;
  }
  
  .navbar-nav {
    margin: 0px -15px;
  }
  
  .navbar-nav > li{
    font-weight: 400;
    padding-left:30px;
    padding-right:30px;
  }
  
  .navbar-nav .nav-item > a {
    color: #FFF;
  }
  
  .navbar-brand {
    color: #373737;
    padding-left:30px;
  }
  
  .navbar-toggler-icon {
    background-image: url('');
    background-size: 1rem 1rem;
  }

/*logo animation*/
.logo-ring {
  position: relative;
  top: 0;
  left: 0;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.logo-insignia {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*information section*/
.btn {
  color:#FFFFFF;
  text-align: center;
}

/*social media*/
#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
}

#social-test .social {
  padding-left: 0px;
}

#social-test li {
  display: inline-block;
}

#social-test li a {
  color: #ffffffab;
  border-radius: 6px;
  list-style-type: none;
  display: inline-block;
  width: 75px;
  height: 75px;
  line-height: 75px;
  padding: 1%;
  border: 1px solid #ffffffab;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease 0.3s;
}

#social-test li a:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

/*footer*/
footer {
  background:#373737;
}

footer h6 {
  font-size:80%
}

footer .subtext{
  margin-bottom: 8px;
  font-size:75%;
  color:#ffffff;
}

footer .subtext a {
  color:#ffffff;
}

.container.w-75 {
  color: black;
}

.footer-org {
  color: #FFFFFF;
}

.footer-subheading {
  color: #ffffffab;
}